/* setup */

body {
    font-family: "Inter", sans-serif;
    margin: 0;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

p {
    margin: 0;
}



/* grid setup */

.main-menu {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;
    height: 90vh;
    max-height: 100vh;
    aspect-ratio: 1440 / 1024;
    border: 2px solid black;
}

h1 {
    grid-column: 1 / 3;
    text-align: center;
    margin-top: 46px;
    margin-bottom: 42px;
    padding: 0px;
}

.poke-container {
    grid-column: 1;
    grid-row: 2;
    display: flex;
    flex-direction: column;
    /* border: 2px solid black; */
    align-items: center;
}

.info-container {
    grid-column: 2;
    grid-row: 2;
    display: flex;
    flex-direction: column;
    /* border: 2px solid black; */
    align-items: center;
}

/* mobile display */

@media screen and (max-width: 768px) {
    .main-menu {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
        height: auto;
        max-height: none;
        aspect-ratio: auto;
    }

    h1 {
        grid-column: 1;
        grid-row: 1;
    }

    .poke-container {
        grid-column: 1;
        grid-row: 2;
    }

    .info-container {
        grid-column: 1;
        grid-row: 3;
    }

}

/* image display */

.image-display {
    display: flex;
    width: min(50%, 463px);
    /* max-height: 463px; */
    aspect-ratio: 1 / 1;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    margin-bottom: 1em;
}

#pokemon-sprite {
    transform: scale(2);
}

/* name and types */

.name-display {
    display: flex;
    width: min(50%, 463px);
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    margin-bottom: 1em;;
}

/* info display */

#info-title {
    font-weight: bold;
}
